FONT		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
TD		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
BODY		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
P		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
DIV		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
INPUT		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
TEXTAREA	{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
FORM 		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
SELECT		{FONT-FAMILY: Tahoma, Verdana, Helvetica, Geneva, Arial; FONT-SIZE: 11px}
A:link          {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.title 		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Helvetica}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 10px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
